.hero-container {
  position: relative;
  z-index: 0;
  right: 50%;
  left: 50%;
  width: 100vw;
  max-height: 760px;
  margin-top: -160px;
  margin-right: -50vw;
  margin-left: -50vw;
  &.article {
    max-height: 650px;
  }
}
.hero-image {
  position: relative;
  z-index: 0;
  right: 50%;
  left: 50%;
  overflow: hidden;
  width: 100vw;
  margin-top: -160px;
  margin-right: -50vw;
  margin-left: -50vw;
  .article & {
    max-height: 650px;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 460px;
    content: "";
    background: linear-gradient(
    to bottom,
    rgba(45, 45, 45, 0.5) 50%,
    rgba(45, 45, 45, 0) 100%
    );
  }
}
.hero-image {
  position: relative;
  z-index: -1;
}
.hero-content {
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  color: $c-white;
  &.blog {
    top: 0;
    bottom: auto;
    left: 0;
    height: 670px;
    margin: 0;
    transform: none;
  }
}
.hero--description p {
  max-width: 700px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2;
}
