.hero-carousel {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -28rem;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  padding: 7rem 8rem 0 8rem;
  background: $c-white;
  &:after {
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: $c-white;
  }
}

@include breakpoint($bp--medium) {
  .hero-carousel > .views-row {
    width: calc(50% - 2rem);
    margin: 1rem auto 4rem;
  }
}
@include breakpoint($bp--large) {
  .hero-carousel > .views-row {
    width: calc(33% - 2rem);
  }
}
@include breakpoint($bp--xlarge) {
  .hero-carousel > .views-row {
    width: calc(25% - 2rem);
  }
}
.teaser__content {
  padding: 0 1.5rem;
}
.landscape-teaser .teaser__image img {
  width: 100%;
  border-radius: $border-radius;
}
