// Theme colours
$c-primary-color: #4b0655 !default;
$c-primary-color-light: #772583 !default;
$c-secondary-color: #c2a8c5 !default;
$c-tertiary-color: #26334a !default;

// Font colours
$c-default-font-color: #2d2c2d;
$c-default-font-color-light: #96989d;
$c-default-font-color-highlight: #041e43;
$c-default-lighter-font-color: #6b6b6b;

// General colours
$c-white: #fff;
$c-black: #000;

//grays
$c-light-gray: #e7e7e8;
$c-dark-gray: #979797;
$c-dusty-gray: #999;
