.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  color: $c-white;
  background-color: $c-primary-color;
  .footer-icons {
    margin: 0;
    padding: 0;
  }
  .footer-icons > li {
    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      margin-right: 1rem;
      color: $c-white;
      border-radius: 50%;
      background-color: $c-primary-color-light;
      font-weight: $fw--regular;
      &:hover {
        color: currentColor;
        background-color: #000;
      }
    }
  }
}
